<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mystudy"
    tools:ignore="ProtectedPermissions">
    <!-- android:sharedUserId="android.uid.system" -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.DialogActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.PlayActivity" />
        <activity android:name=".ui.ScreenActivity">
        </activity>
        <activity android:name=".ui.DiyActivity"></activity>
        <activity android:name=".ui.RemoteActivity" />
        <activity android:name="com.example.opengl.opencv.OpencvActivity" />
        <activity android:name=".hook.SubActivity" />
        <activity android:name=".hook.HookActivity" />
        <activity android:name="com.example.diy.chapter06.SlideMenuActivity" />
        <activity android:name="com.example.diy.chapter06.ScrollerActivity" />
        <activity android:name="com.example.diy.chapter05.TouchActivity" />
        <activity android:name="com.example.diy.chapter03.WidgetActivity" />
        <activity android:name="com.example.diy.chapter01.CameraActivity" />
        <activity android:name="com.example.opengl.FirstOpenglActivity" />
        <activity android:name=".ui.AudioActivity" />
        <activity android:name=".ui.RxJava2Activity" />
        <activity android:name=".optimize.BlockActivity" />
        <activity
            android:name=".ui.FragmentActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.LoadPluginActivity" />
        <activity android:name=".ui.VpIndicatorActivity" />
        <activity android:name=".ui.MainActivity" />
        <activity android:name=".ui.AopActivity" />
        <activity android:name="com.example.dnbus.plugin.ProxyActivity" />

        <service android:name=".aidl.MyService" />
        <service
            android:name=".aidl.MessengerService"
            android:process=":remote" />
        <service
            android:name=".ui.RemoteService"
            android:process=":server" /> <!-- 唯一标识，外部应用可通过该属性访问 -->
        <provider
            android:name=".cp.MyContentProvider"
            android:authorities="com.example.mystudy.provoder"
            android:process=":provider" />

        <receiver android:name=".service.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".service.InstallApkBroadCastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.mystudy.android7.file.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>