<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mystudy">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".ui.App"
        android:allowBackup="true"
        android:appComponentFactory="a"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:appComponentFactory">
        <activity android:name=".ui.ButterKnifeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.SkinActivity" />
        <activity android:name=".ui.NdkActivity">

        </activity>
        <activity android:name=".audio.PcmActivity" />
        <activity android:name=".ui.AopActivity2">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <action android:name="android.intent.action.VIEW" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".ui.WeatherActivity"></activity>
        <activity android:name=".ui.AopActivity" />
        <activity android:name=".ui.ShadowActivity" />
        <activity android:name=".mvvm.NavigationActivity" />
        <activity android:name=".mvvm.LifecycleActivity" />
        <activity android:name=".ui.RvActivity" />
        <activity android:name=".ui.DragWordActivity" />
        <activity android:name=".ui.DragActivity" />
        <activity android:name=".ui.RxJava2Activity" />
        <activity
            android:name=".ui.FragmentActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.LoadPluginActivity" />
        <activity android:name=".ui.VpIndicatorActivity" />
        <activity android:name=".ui.MainActivity" /> <!-- <activity android:name=".ui.AopActivity" /> -->
        <activity android:name="com.example.dnbus.plugin.ProxyActivity" />

        <service android:name=".aidl.MyService" />
        <service
            android:name=".aidl.MessengerService"
            android:process=":remote" /> <!-- 唯一标识，外部应用可通过该属性访问 -->
        <provider
            android:name=".cp.MyContentProvider"
            android:authorities="com.example.mystudy.provoder"
            android:process=":provider" />
    </application>

</manifest>